@import url('https://fonts.google.com/specimen/Quando?query=quando');

body {
  /* margin: 0px 50px 0px 50px; */
  font-family: 'Quando';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/Rectangle1.png');
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  text-align: right;
  color: white;
}

.header {
  background-image: url('../public/headerPic1.png');
  background-size: cover;
  height: 400px;
  margin-bottom: 50px;
}

.rectangle-one {
  margin-left: 90px;
  border-radius: 8px;
  display: flex;
  width: 1219px;
  height: 69px;
  background-color: white;
  border: 1px solid black;
}

h1 {
  margin-left: 2em;
}

.bold {
  padding-bottom: 3px;
  font-weight: bolder;
}